.section1 {
  width: 100%;
  height: 100vh;
  background: url(../../components/assets/one\ community.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 30px;
}
.section2 {
  width: 100%;
  height: 80vh;
  background-color: rgb(19, 18, 18);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  font-weight: 100;
}

.section2-title {
  margin-top: 100px;
  padding: 20px 60px;
  background-color: rgb(255, 255, 255);
  width: 30%;
  border-radius: 30px;
  border: 1px solid wheat;
  color: black;
}
.section3 {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.section3-title {
  padding-left: 50px;
}
.section3-subtitle {
  padding-left: 50px;
}
.grid-container {
  display: grid;
}
.card {
  width: 80%;
  margin-left: 50px;
  background-color: white;
  color: black;
  padding: 20px 0px;
}
