.navbar {
  width: 100vw;
  top: 0;
  padding: 30px;
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  justify-content: space-around;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
a {
  color: red;
  text-decoration: none;
}
a:hover {
  color: rgb(195, 0, 255);
}
li {
  list-style-type: none;
}
@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    position: relative;
  }
  ul {
    display: none;
  }
}
