.navbar {
  width: 100vw;
  top: 0;
  padding: 5px 30px;
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  justify-content: space-around;
  background-color: #162f65;
  /* background-color: rgb(0, 0, 0); */
  align-items: center;
  z-index: 999999;
}
.logo {
  width: 100px;
}
.logo img {
  width: 100%;
  transform: scale(2);
}
ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: white;
}
a {
  /* color: rgb(0, 0, 0); */
  color: white;
  text-decoration: none;
  font-size: 25px;
}
a:hover {
  color: rgb(195, 0, 255);
  cursor: pointer;
  text-decoration: underline;
}
li {
  list-style-type: none;
}

input {
  padding: 10px 100px;
  border-radius: 30px;
  border: solid rgb(0, 0, 0) 1px;
  background-color: rgb(255, 255, 255);
}
input:hover {
  padding: 10px 150px;
  color: white;
  background-color: rgb(0, 0, 0);
}
input:active {
  background-color: rgb(0, 0, 0);
  color: white;
}
@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    position: relative;
  }
  ul {
    display: none;
  }
}
