.App {
  text-align: center;
}

* {
  margin: 0;
  transition: 500ms;
}
body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
